#!/bin/sh
#
# Copyright (C) 2013 Red Hat, Inc. <http://www.redhat.com>
#
# Modified: Harshavardhana <fharshav@redhat.com>
# Original Author: Anand Avati <aavati@redhat.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, see <http://www.gnu.org/licenses/>.

load_rest_vars()
{
    local url=$1;
    local key=$2;
    local leaf=$3;

    local val=$(wget -q -O - $url);

    if [ -n "$leaf" ]; then
        if [ -z "$val" ]; then
                val=$(echo $key | cut -d '=' -f2);
                key=$(echo $key | cut -d '=' -f1);
        fi
        eval "export $(echo $key | sed -e 's/-/_/g' -e 's/:/_/g')='$val'" >/dev/null 2>&1 || true;
        return;
    fi

    for k in $val; do
        load_rest_vars $url/$k ${key}-${k%/} ${k%%*/};
    done
}


load_meta_data()
{
    local baseURL=http://169.254.169.254/latest;

    load_rest_vars $baseURL/meta-data ec2;

    ec2_placement_region=$(echo $ec2_placement_availability_zone | sed -e 's:\([0-9][0-9]*\)[a-z]*$:\1:');
}


assert_creds()
{
    if [ "x" = "x$AWS_ACCESS_KEY" ]; then
        echo "Please export AWS_ACCESS_KEY environment variable";
        exit 1
    fi

    if [ "x" = "x$AWS_SECRET_KEY" ]; then
        echo "Please export AWS_SECRET_KEY environment variable";
        exit 1
    fi

}

assert_creds;

load_meta_data;
unset load_meta_data;
unset load_rest_vars;
